@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 67% 92%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 259 83% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 30% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 261 30% 96%;
    --muted-foreground: 240 5% 65%;
    --accent: 239 77% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 30% 88%;
    --input: 261 30% 88%;
    --ring: 259 83% 70%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 259 30% 10%;
    --foreground: 259 50% 90%;
    --card: 259 30% 12%;
    --card-foreground: 259 50% 90%;
    --popover: 259 30% 12%;
    --popover-foreground: 259 50% 90%;
    --primary: 259 83% 70%;
    --primary-foreground: 259 30% 10%;
    --secondary: 259 30% 20%;
    --secondary-foreground: 259 50% 90%;
    --muted: 259 30% 20%;
    --muted-foreground: 259 50% 60%;
    --accent: 239 77% 70%;
    --accent-foreground: 259 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 30% 20%;
    --input: 259 30% 20%;
    --ring: 259 83% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
